In [3]:
import yfinance as yf
import pandas as pd

In [4]:
ticker_symbol = "EURUSD=X"
start_date = "2000-01-01"
end_date = "2025-01-01"

In [5]:
data = yf.download(
    ticker_symbol,
    start=start_date,
    end=end_date,
    interval="1d"
)

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['EURUSD=X']: TypeError("'NoneType' object is not subscriptable")

In [6]:
df = pd.DataFrame(data)

In [7]:
df.head(10)

Empty DataFrame
Columns: [(Adj Close, EURUSD=X), (Close, EURUSD=X), (High, EURUSD=X), (Low, EURUSD=X), (Open, EURUSD=X), (Volume, EURUSD=X)]
Index: []

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 0 entries
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   (Adj Close, EURUSD=X)  0 non-null      float64
 1   (Close, EURUSD=X)      0 non-null      float64
 2   (High, EURUSD=X)       0 non-null      float64
 3   (Low, EURUSD=X)        0 non-null      float64
 4   (Open, EURUSD=X)       0 non-null      float64
 5   (Volume, EURUSD=X)     0 non-null      float64
dtypes: float64(6)
memory usage: 0.0 bytes

In [9]:
df.describe()

Price  Adj Close    Close     High      Low     Open   Volume
Ticker  EURUSD=X EURUSD=X EURUSD=X EURUSD=X EURUSD=X EURUSD=X
count        0.0      0.0      0.0      0.0      0.0      0.0
mean         NaN      NaN      NaN      NaN      NaN      NaN
std          NaN      NaN      NaN      NaN      NaN      NaN
min          NaN      NaN      NaN      NaN      NaN      NaN
25%          NaN      NaN      NaN      NaN      NaN      NaN
50%          NaN      NaN      NaN      NaN      NaN      NaN
75%          NaN      NaN      NaN      NaN      NaN      NaN
max          NaN      NaN      NaN      NaN      NaN      NaN

In [10]:
df.to_csv("EURUSD_2000_2025.csv")

In [11]:
df.head(10)

Empty DataFrame
Columns: [(Adj Close, EURUSD=X), (Close, EURUSD=X), (High, EURUSD=X), (Low, EURUSD=X), (Open, EURUSD=X), (Volume, EURUSD=X)]
Index: []